

<div  class="d-flex   justify-content-center    "   >

<form class="text-center border border-light pt-0 pb-5  p-5" action="#!"  style="width: 400px;  margin-top: 15px;  "       >

    <p class="h4 mb-5">Registro</p>

    <div class="form-row mb-4">
        <div class="col">
    
    
    
            <!-- First name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nombre">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Apellidos">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="@ Correo electronico">
   
    <!--alias-->
 
    <input type="text" id="defaultRegisterFormLastName" class="form-control my-4 " placeholder="Alias">

    <!--Actor-->
    
    <div class="form-group">

      <select class="form-control" name="" id="">
        <option> Actor </option>
        <option>Actor 1</option>
        <option>Actor 2</option>
        <option>Actor 3</option>
        <option>Actor 4</option>
        

      </select>
    </div>



    <!--Expediente-->

    <input type="password" id="defaultRegisterFormPassword" class="form-control my-4" placeholder="No. Expediente" aria-describedby="defaultRegisterFormPasswordHelpBlock">

    
    <!-- Phone number -->

    <input type="text" id="defaultRegisterPhonePassword" class="form-control my-4" placeholder="Numero telefonico" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    
    <!-- Password -->

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    
    <input type="password" id="defaultRegisterFormPassword" class="form-control  my-4 " placeholder="Confirmar contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    



    <!-- Sign up button -->
    <button class="btn btn-info my-5 btn-block" type="submit">Registrar</button>

    <br>

</form>


</div>

